In [51]:
import pandas as pd
import numpy as np
from sklearn.cluster import MeanShift
from scipy.spatial import distance

In [52]:
checkins = pd.read_csv('checkins.dat', sep=',').dropna().reset_index(drop=True)

In [53]:
checkins.head()

       id    user_id  venue_id   latitude   longitude          created_at
0  984222    15824.0    5222.0  38.895112  -77.036366  2012-04-2117:43:47
1  984234    44652.0    5222.0  33.800745  -84.410520  2012-04-2117:43:43
2  984291   105054.0    5222.0  45.523452 -122.676207  2012-04-2117:39:22
3  984318  2146539.0    5222.0  40.764462 -111.904565  2012-04-2117:35:46
4  984232    93870.0  380645.0  33.448377 -112.074037  2012-04-2117:38:18

In [54]:
checkins.tail()

            id    user_id  venue_id   latitude  longitude          created_at
396621  955561   626076.0   20073.0  40.850100 -73.866246  2012-04-1309:56:48
396622  955892   674797.0    2297.0  33.748995 -84.387982  2012-04-1310:56:03
396623  956377   845102.0   11195.0  42.765366 -71.467566  2012-04-1312:08:45
396624  956119  1139114.0   29488.0  42.439479 -83.743830  2012-04-1311:36:44
396625  956733   960666.0      60.0  42.331427 -83.045754  2012-04-1321:56:19

In [55]:
checkins.shape

(396626, 6)

In [56]:
X = checkins[['latitude', 'longitude']].as_matrix()
print X.shape

(396626L, 2L)

In [57]:
ms = MeanShift(bandwidth=0.1)
ms.fit(X)

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [50]:
ms.cluster_centers_.shape

(3230L, 2L)

In [44]:
max(ms.labels_)

3229

In [45]:
clusters = np.zeros(len(ms.cluster_centers_))
for i in xrange(len(clusters)):
    clusters[ms.labels_[i]] += 1
print clusters

[ 274.  301.  213. ...,    0.    0.    0.]

In [26]:
cluster_centers = [[0,0]]
for i in xrange(clusters.shape[0]):
    if clusters[i] > 5:
        cluster_centers = np.append(cluster_centers, [[ms.cluster_centers_[i][0],ms.cluster_centers_[i][1]]], axis=0)
cluster_centers = cluster_centers[1:]
print cluster_centers

[[  40.71748461  -73.98935861]
 [  33.44969647 -112.00256776]
 [  41.87816455  -87.6298271 ]
 [  33.44683103 -111.90253255]
 [  38.88610691  -77.04819943]
 [  37.68601763 -122.40905969]
 [  37.78608129 -122.42389026]
 [  33.7680934   -84.3933792 ]
 [  42.36297931  -71.07447328]
 [  47.60640129 -122.3320402 ]
 [  33.35716669 -111.82247998]
 [  34.06497839 -118.26547835]
 [  44.97769677  -93.26803824]
 [  36.11722331 -115.17118041]
 [  30.26726511  -97.74301836]
 [  39.95214464  -75.16362053]
 [  40.76946326  -73.8378606 ]
 [  32.98103799 -117.07827225]
 [  39.73504691 -104.988462  ]
 [  28.54302166  -81.37655311]
 [  32.80312069  -96.76982401]
 [  34.1288663  -118.35239775]
 [  43.04080324  -87.91322225]
 [  25.7870861   -80.21512757]
 [  29.76231482  -95.38287383]
 [  32.7107641  -117.15292473]
 [  37.34452179 -121.90955325]
 [  45.52279313 -122.67563607]
 [  37.39611474 -122.0934813 ]
 [  33.81696462 -117.89369495]
 [  33.67523502 -117.85445503]
 [  32.22173092 -110.92650161]
 [  27.94941385  -82.46499284]
 [  33.92203533 -118.41439027]
 [  39.28720201  -76.61351476]
 [  39.76824977  -86.15787479]
 [  35.22764201  -80.84329944]
 [  37.80535175 -122.26857949]
 [  40.43910726  -79.99605588]
 [  40.70810767  -73.60195714]
 [  26.10854342  -80.15858241]
 [  34.12729464 -118.12181276]
 [  33.55813446 -112.21066558]
 [  33.48264909 -112.36477658]
 [  35.2013516  -111.639249  ]
 [  34.0489281  -111.0937311 ]
 [  33.62284372 -112.3289404 ]]

In [46]:
offices = np.array([[33.751277, -118.188740],
                    [25.867736, -80.324116],
                    [51.503016, -0.075479],
                    [52.378894, 4.885084],
                    [39.366487, 117.036146],
                    [39.366487, 117.036146],
                    [-33.868457, 151.205134]])

In [47]:
nearest = []
min_dist = 99999999
for i in xrange(offices.shape[0]):
    for j in xrange(ms.cluster_centers_.shape[0]):
        dist = distance.euclidean(offices[i], ms.cluster_centers_[j])
        if dist < min_dist:
            min_dist = dist
            nearest = [ms.cluster_centers_[j][0], ms.cluster_centers_[j][1]]

In [34]:
print offices[0]

[  33.751277 -118.18874 ]

In [35]:
print cluster_centers[0]

[ 40.71748461 -73.98935861]

In [48]:
print nearest

[-33.860630428571433, 151.20477592857145]

In [49]:
print min_dist

0.00783475816311

In [33]:
print distance.euclidean([33.811281114967272, -118.14432326626132], [33.92203533, -118.41439027])

0.291894985664

In [30]:
# 20000 - [33.812499824375067, -117.88720210687502]
# 50000 - [25.785608792953155, -80.215648999999871]
# 100000 - [25.785812419967499, -80.217938036825402]
# all - [33.811281114967272, -118.14432326626132] > 10