In [3]:
from scipy.stats import binom_test, binned_statistic_2d, chisquare
import pandas as pd
import numpy as np

<font color='green'>
### 1

In [4]:
print binom_test(67, 100, 0.75)

0.0822225889139

<font color='green'>
### 2

Все пункты

<font color='green'>
### 3

In [5]:
df_pines = pd.read_csv('pines.txt', sep='\t')

In [6]:
df_pines.head()

      sn    we
0  200.0   8.8
1  199.3  10.0
2  193.6  22.4
3  167.7  35.6
4  183.9  45.4

In [7]:
ret = binned_statistic_2d(list(df_pines['sn']), list(df_pines['we']), None, 'count', bins=[i for i in xrange(0, 201, 40)])
np.mean(ret.statistic)

23.359999999999999

<font color='green'>
### 4

In [40]:
mean = df_pines.shape[0] / 25.
observed = ret.statistic.flatten()
print observed
expected = np.full((5, 5), mean).flatten()
print expected
ret2 = chisquare(observed.flatten(), None, ddof=1)
print ret2.statistic

[ 18.  26.  29.  25.  20.  14.  12.  22.  34.  25.  12.  24.  15.  50.  37.
   8.  19.  31.  50.   7.   7.   8.  37.  27.  27.]
[ 23.36  23.36  23.36  23.36  23.36  23.36  23.36  23.36  23.36  23.36
  23.36  23.36  23.36  23.36  23.36  23.36  23.36  23.36  23.36  23.36
  23.36  23.36  23.36  23.36  23.36]
150.589041096

In [37]:
print sum(observed)
print df_pines.shape[0]

584.0
584

<font color='green'>
### 5

</font>

отвергается