In [62]:
import pandas as pd
import tabletext
import numpy as np
from scipy.stats import chi2_contingency, norm

<font color='green'>
### 1

In [4]:
df_water = pd.read_csv('water.txt', sep='\t')
df_water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [5]:
df_water.corr(method='pearson')

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

<font color='green'>
### 2

In [6]:
df_water.corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

<font color='green'>
### 3

In [10]:
df_water[df_water.location == 'South'].corr(method='pearson')

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [9]:
df_water[df_water.location == 'North'].corr(method='pearson')

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

<font color='green'>
### 4

In [67]:
a = 515.
b = 718.
c = 239.
d = 203.

data = [
['' , u'М', u'Ж'],
[u'Реже', 'a=515', 'b=718'],
[u'Чаще', 'c=239', 'd=203']
       ]

print tabletext.to_text(data)

┌──────┬───────┬───────┐
│      │ М     │ Ж     │
├──────┼───────┼───────┤
│ Реже │ a=515 │ b=718 │
├──────┼───────┼───────┤
│ Чаще │ c=239 │ d=203 │
└──────┴───────┴───────┘

In [56]:
def calc_Met(a, b, c, d):
    return (a * d - b * c) / (np.sqrt((a + b) * (a + c) * (b + d) * (c + d)))

corr_Met = calc_Met(a, b, c, d)
print corr_Met

-0.109002374587

<font color='green'>
### 5

In [57]:
table = [
[a, b],
[c, d]     
]
print chi2_contingency(table)

(19.407530788543038, 1.0558987006638725e-05, 1L, array([[ 555.03402985,  677.96597015],
       [ 198.96597015,  243.03402985]]))

<font color='green'>
### 6

In [64]:
alpha = 0.05
z = norm.ppf(1 - alpha / 2.)
n1 = a + c
n2 = b + d
p1 = c / n1
p2 = d / n2
left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1) / n1 + p2 * (1 - p2) / n2)
right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1) / n1 + p2 * (1 - p2) / n2)
print (left_boundary, right_boundary)

(0.053905233215813156, 0.13922183141523897)

<font color='green'>
### 7

In [69]:
P = float(p1*n1 + p2*n2) / (n1 + n2)
z_stat = (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))
print 2 * (1 - norm.cdf(np.abs(z_stat)))

8.15345308958e-06

<font color='green'>
### 8

In [73]:
data_happy = np.array([
    [197, 111, 33],
    [382, 685, 331],
    [110, 342, 333]
])
print chi2_contingency(data_happy)

(293.68311039689746, 2.4964299580093467e-62, 4L, array([[  93.08597464,  153.74722662,   94.16679873],
       [ 381.6251981 ,  630.318542  ,  386.0562599 ],
       [ 214.28882726,  353.93423138,  216.77694136]]))

<font color='green'>
### 9

<font color='green'>
### 10

In [75]:
def cramers_stat(confusion_matrix):
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum()
    return np.sqrt(chi2 / (n*(min(confusion_matrix.shape)-1)))

print cramers_stat(data_happy)

0.24120139345